{% extends "blog/base.html" %}

{% block content %}
    <h1>{% if form.instance.pk %}Edit{% else %}Create{% endif %} Post</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">
            {% if form.instance.pk %}Update{% else %}Create{% endif %} Post
        </button>
    </form>

    <a href="{% url 'blog:post-list' %}" class="btn btn-secondary mt-3">Back to Posts</a>
{% endblock %}
