{% extends "blog/base.html" %}
{% block content %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    <small>Published on {{ post.published_date }} by {{ post.author }}</small>
    <hr>
    {% if post.author == user %}
        <a href="{% url 'blog:post-edit' post.pk %}" class="btn btn-warning">Edit</a>
        <a href="{% url 'blog:post-delete' post.pk %}" class="btn btn-danger">Delete</a>
    {% endif %}
    <a href="{% url 'blog:post-list' %}" class="btn btn-secondary">Back to Posts</a>
{% endblock %}
